/*  footer : nav
/* ------------------------------------ */
#nav-footer.nav-container { background: #333; z-index: 97;
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.05), 0 -1px 0 rgba(0,0,0,0.2), inset 1px 0 0 rgba(0,0,0,0.2), inset -1px 0 0 rgba(0,0,0,0.2);
box-shadow: inset 0 1px 0 rgba(255,255,255,0.05), 0 -1px 0 rgba(0,0,0,0.2), inset 1px 0 0 rgba(0,0,0,0.2), inset -1px 0 0 rgba(0,0,0,0.2); }
#nav-footer .container { padding: 0 15px; }
#nav-footer .nav-toggle { background: transparent; color: #fff;
-webkit-box-shadow: inset 1px 0 0 rgba(255,255,255,0.05), -1px 0 0 rgba(0,0,0,0.2);
box-shadow: inset 1px 0 0 rgba(255,255,255,0.05), -1px 0 0 rgba(0,0,0,0.2); }
#nav-footer .nav-text { color: #fff; color: rgba(255,255,255,0.7); }

@media only screen and (min-width: 720px) {

	/* common */
	#nav-footer .nav { text-transform: uppercase; font-weight: 400; text-align: center; }
	#nav-footer .nav li a { font-size: 14px; color: #fff; color: rgba(255,255,255,0.7); }	
	/* level 1 */
	#nav-footer .nav > li { border-right: none; }
	#nav-footer .nav > li > a:hover, 
	#nav-footer .nav > li:hover > a { background: rgba(0,0,0,0.1); }
	#nav-footer .nav li > a:hover, 
	#nav-footer .nav li:hover > a, 
	#nav-footer .nav li.current_page_item > a, 
	#nav-footer .nav li.current-menu-item > a,
	#nav-footer .nav li.current-menu-ancestor > a,
	#nav-footer .nav li.current-post-parent > a { color: #fff; }
	/* level 2 & 3 */
	#nav-footer .nav ul { background: #333 url(assets/images/opacity-10.png) repeat; bottom: 47px; top: auto; text-align: left;
	-webkit-box-shadow: 0 -2px 2px rgba(0,0,0,0.05);
	box-shadow: 0 -2px 2px rgba(0,0,0,0.05); }
	#nav-footer .nav ul li { box-shadow: 0 1px 0 rgba(255,255,255,0.06); -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.06); }
	#nav-footer .nav ul li:last-child { box-shadow: none; -webkit-box-shadow: none; }
	/* level 3 */
	#nav-footer .nav ul ul { position: absolute; top: auto; bottom: -10px; }
	
}
@media only screen and (max-width: 719px) {
	
	/* common */
	#nav-footer.nav-container  { border-left: 0; border-right: 0; }
	#nav-footer .container { padding: 0; }
	#nav-footer .nav { padding-bottom: 20px; }
	#nav-footer .nav li a { color: #fff; color: rgba(255,255,255,0.8); border-top: 1px solid rgba(255,255,255,0.06); }	
	/* level 1 */
	#nav-footer .nav li > a:hover { background: rgba(0,0,0,0.15); color: #fff; }
	#nav-footer .nav li.current_page_item > a, 
	#nav-footer .nav li.current-menu-item > a,
	#nav-footer .nav li.current-post-parent > a { background: rgba(0,0,0,0.15); color: #fff; }
	
}
