/*  header : nav topbar
/* ------------------------------------ */
#nav-topbar.nav-container { border-bottom: 0px solid #e5e5e5; }
#nav-topbar .nav-toggle { background: transparent; color: #fafafa; }
#nav-topbar .nav-text { color: #fafafa; }

@media only screen and (min-width: 1025px) {
	/* fixed nav */
	.full-width.topbar-enabled #header { padding-top: 42px; }
	.full-width #nav-topbar.nav-container { position: fixed; top: 0; left: 0; right: 0; width: 100%; z-index: 999; }
	.full-width.admin-bar #nav-topbar.nav-container { top: 32px; }
}

@media only screen and (min-width: 720px) {

	/* common */
	#nav-topbar .nav { font-weight: 300; }
	#nav-topbar .nav li a { font-size: 15px; color: #fafafa; border-bottom: 2px solid transparent; }	
	/* level 1 */
	#nav-topbar .nav > li { border-left: 0px solid #f9f9f9; border-right: none; }
	#nav-topbar .nav > li > a { padding: 11px 14px 9px; }
	#nav-topbar .nav > li > a:hover, 
	#nav-topbar .nav > li:hover > a { border-bottom-color: #26abd3; }
	#nav-topbar .nav li > a:hover, 
	#nav-topbar .nav li:hover > a, 
	#nav-topbar .nav li.current_page_item > a, 
	#nav-topbar .nav li.current-menu-item > a,
	#nav-topbar .nav li.current-menu-ancestor > a,
	#nav-topbar .nav li.current-post-parent > a { color: #fff; }
	#nav-topbar .nav li.current_page_item > a, 
	#nav-topbar .nav li.current-menu-item > a,
	#nav-topbar .nav li.current-menu-ancestor > a,
	#nav-topbar .nav li.current-post-parent > a { border-bottom-color: rgba(0,0,0,0.1); }
	#nav-topbar .nav li.current_page_item:hover > a, 
	#nav-topbar .nav li.current-menu-item:hover > a,
	#nav-topbar .nav li.current-menu-ancestor:hover > a,
	#nav-topbar .nav li.current-post-parent:hover > a { border-bottom-color: #26abd3; }
	/* level 2 & 3 */
	#nav-topbar .nav > li > ul { top: 42px; }
	#nav-topbar .nav ul { background: $color-primary; }
	#nav-topbar .nav ul li { border-bottom: 1px solid rgba(0,0,0,0.1); }
	#nav-topbar .nav ul li:last-child { border-bottom: none; }
	#nav-topbar .nav ul li a { font-size: 14px; border: none; }
}
@media only screen and (max-width: 719px) {
	
	/* common */
	#nav-topbar .nav { padding-bottom: 20px; }
	#nav-topbar .nav li a { color: #fafafa; border-bottom: 1px solid #f9f9f9; }	
	/* level 1 */
	#nav-topbar .nav li > a:hover,
	#nav-topbar .nav li.current_page_item > a, 
	#nav-topbar .nav li.current-menu-item > a,
	#nav-topbar .nav li.current-post-parent > a { background: #f9f9f9; color: #000; }
	
}
