//--------------------------------------------------------------
// Base Layout
//--------------------------------------------------------------

// Structure

.boxed #page {
	@include outer-container;
	background: #fff;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.wrap {
	@include outer-container;
//	@include row(table);

	padding: 0 $margin-wrap;

	@include media($desktop) {
		padding: 0;
	}
}

.site-header,
.site-footer {
//	padding: 0 $gutter;

//	@include media($tablet-landscape) {
//		padding: 0 2 * $gutter;
//	}

}

.site-content {
	margin: rem(20) auto;
	overflow: hidden;

	@include media($desktop) {
		margin: 0 auto;
	}
}

.primary {
	@include fill-parent;

	@include media($tablet-landscape) {
		@include span-columns(9);
	}
}

.secondary {
	@include fill-parent;

	@include media($tablet-landscape) {
		@include span-columns(3);
	}
}

.main-content, .sidebar { padding: 0 rem(15); background:$color-white;}


/*  GRID
/* ------------------------------------ */

	.row { 
	@include row();
	@include fill-parent();
	}
/*
	.row-collapse { 
	@include row(table);
	@include fill-parent();
	}
*/
	.medium-8  {
	@include fill-parent();
		@include media($tablet-landscape) {
		@include span-columns(8);
		}
	}

	.medium-6  {
	@include fill-parent();
		@include media($tablet-landscape) {
		@include span-columns(6);
		}
	}

	.medium-4  {
	@include fill-parent();
		@include media($tablet-landscape) {
		@include span-columns(4);
		}
	}

	.medium-3  {
	@include fill-parent();
		@include media($tablet-landscape) {
		@include span-columns(3);
		}
	}

.medium-push-3 {@include media($tablet-landscape) {@include shift(3);}}
.medium-push-4 {@include media($tablet-landscape) {@include shift(4);}}
.medium-push-6 {@include media($tablet-landscape) {@include shift(6);}}
.medium-pull-6 {@include media($tablet-landscape) {@include shift(-9);}}
.medium-pull-8 {@include media($tablet-landscape) {@include shift(-12);}}