@font-face {
    font-family: 'icomoon';
    src:    url('assets/fonts/icomoon.eot?b9alvw');
    src:    url('assets/fonts/icomoon.eot?b9alvw#iefix') format('embedded-opentype'),
        url('assets/fonts/icomoon.ttf?b9alvw') format('truetype'),
        url('assets/fonts/icomoon.woff?b9alvw') format('woff'),
        url('assets/fonts/icomoon.svg?b9alvw#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
    content: "\f002";
}
.icon-envelope-o:before {
    content: "\f003";
}
.icon-th:before {
    content: "\f00a";
}
.icon-edit:before {
    content: "\f044";
}
.icon-pencil-square-o:before {
    content: "\f044";
}
.icon-calendar:before {
    content: "\f073";
}
.icon-bars:before {
    content: "\f0c9";
}
.icon-navicon:before {
    content: "\f0c9";
}
.icon-reorder:before {
    content: "\f0c9";
}
.icon-angle-left:before {
    content: "\f104";
}
.icon-angle-right:before {
    content: "\f105";
}
.icon-angle-up:before {
    content: "\f106";
}
.icon-angle-down:before {
    content: "\f107";
}
.icon-pencil-square:before {
    content: "\f14b";
}
.icon-home:before {
    content: "\e900";
}
.icon-newspaper:before {
    content: "\e901";
}
.icon-image:before {
    content: "\e902";
}
.icon-camera:before {
    content: "\e903";
}
.icon-book:before {
    content: "\e904";
}
.icon-profile:before {
    content: "\e905";
}
.icon-file-text2:before {
    content: "\e906";
}
.icon-folder-open:before {
    content: "\e907";
}
.icon-price-tag:before {
    content: "\e920";
}
.icon-location:before {
    content: "\e908";
}
.icon-bubbles4:before {
    content: "\e909";
}
.icon-user:before {
    content: "\e90a";
}
.icon-users:before {
    content: "\e90b";
}
.icon-user-plus:before {
    content: "\e90c";
}
.icon-user-tie:before {
    content: "\e90d";
}
.icon-zoom-in:before {
    content: "\e90e";
}
.icon-cog:before {
    content: "\e90f";
}
.icon-stats-bars:before {
    content: "\e910";
}
.icon-leaf:before {
    content: "\e911";
}
.icon-meter:before {
    content: "\e912";
}
.icon-menu3:before {
    content: "\e913";
}
.icon-menu4:before {
    content: "\e914";
}
.icon-sphere:before {
    content: "\e915";
}
.icon-earth:before {
    content: "\e916";
}
.icon-link:before {
    content: "\e917";
}
.icon-embed2:before {
    content: "\e918";
}
.icon-share2:before {
    content: "\e919";
}
.icon-google-plus2:before {
    content: "\e91a";
}
.icon-facebook2:before {
    content: "\e91b";
}
.icon-whatsapp:before {
    content: "\e91c";
}
.icon-twitter:before {
    content: "\e91d";
}
.icon-vk:before {
    content: "\e91e";
}
.icon-rss2:before {
    content: "\e91f";
}

